@page {
    size: A4; /* Tamanho da página A4 */
    margin: 1in; /* Margens de 1 polegada */
}
body {

    font-family: Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
}
.title {
    height: 100%;
    width: 10%;
    background-color: #f0f0f0; /* Cor de fundo cinza claro */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 5px; /* Cantos arredondados */
}
